*{
  margin: 0;
  padding: 0;
}
#time {
	position: absolute;
	top: 30px;
  	font-size: 20px;
	width: 100%;
	text-align: left;
	z-index: 100;
	display:block;
}

#score {
	position: absolute;
	top: 10px;
  	font-size: 20px;
	width: 100%;
	text-align: left;
	z-index: 100;
	display:block;
}