*{
  margin: 0;
  padding: 0;
}
#time {
	position: absolute;
	top: 30px;
  	font-size: 20px;
	width: 100%;
	text-align: left;
	z-index: 100;
	display:block;
}

#score {
	position: absolute;
	top: 10px;
  	font-size: 20px;
	width: 100%;
	text-align: left;
	z-index: 100;
	display:block;
}

#health {
	position: absolute;
	top: 50px;
  	font-size: 20px;
	width: 100%;
	text-align: left;
	z-index: 100;
	display:block;
}

#gameover {
	position: absolute;
	height: 50%;
	width: 50%;
  	font-size: 40px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:none;
}